body {
 font-size: 18px;
 line-height: 1.5;

}

header, nav, main, footer {
    margin: 1.25rem auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 760px;
    align-items: center;
}

header {
     background-color: #20a6df;
     color: white;
     border-radius: 6px 6px 6px 6px;
    }

img {
    width: 150px;
    float: right;
    box-shadow: 0px 5px 5px 5px black;
    
}

footer {
    background-color: #20a6df;
    color: white;
    border-radius: 6px 6px 6px 6px;

}