@media only screen and (min-width: 32.5em) {   
    img {
        float: right;
        box-shadow: 5px 11px 19px 15px rgba(0,0,0,0.27);
        width: 150px;
        margin: 1rem;
       
    }

    h1 {
        font-size: 45px;
        letter-spacing: 2.5px;
   }   

   footer {
    font-size: 16px;
    background-color: #115D7E;
    color: white;
    border-radius: 15px;
    text-align: center;
    height: 50px;
    line-height: 1px;
    padding-top: 13px;
    padding-bottom: 15px;

}
}