body {
    font-size: 18px;
    line-height: 1.5;
   }
    
   a {
     color: #ac111a;
   }
   
   #link {
     color: white;
   }
   
   img {
    float: right;
    box-shadow: 5px 11px 19px 15px rgba(0,0,0,0.27);
    max-width: 150px;
    margin: 1rem;
   
  }  
   
   main {
       color: #6D6D64;
   }
   
   
   nav {
      margin: .25rem;
   }
   
   hr {
     margin-top: -20px;
   }
   
  
  
  