body {
  font-size: 18px;
  line-height: 1.5;
 }
  
 a {
   color: #ac111a;
 }
 
 #link {
   color: white;
 }
 

 
 main {
     color: #6D6D64;
 }
 
 header {
      background-color: #115D7E;
      color: white;
      border-radius: 15px;
      text-align: center; 
      font-family: 'Merriweather', serif;
      padding: .1px;
      height: 120px;
     }

     img {

 }
 
 nav {
    margin: .25rem;
 }
 
 hr {
   margin-top: -20px;
 }
 


