@media only screen and (min-width: 601px) {   

    .menu {
      display: flex;
      padding-left: 7.5em;
    }

    header {
      height: 125px;
      padding: .1px;
    }

    footer {
      height: 50px;
    }