@media only screen and (min-width: 601px) {   

    .menu {
      display: flex;
      padding-left: 7em;
    }

    header {
      height: 125px;
    }

    footer {
      height: 50px;
      line-height: 1px;
    }

  }