/************* Small View **********/

h2 {
  font-family: "Fjalla One", sans-serif;
  font-weight: normal;
  margin-bottom: -12px;
}

h1 {
  font-weight: normal;
  font-family: "Roboto Condensed", sans-serif;
  padding-left: 1em;
  padding-top: 0.5em;
}

header {
  display: flex;
  width: 100%;
  font-size: 10px;
  max-width: 1000px;
  justify-items: center;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 15px;
  padding-top: 5px;
}

header figure.logo {
  float: left;
  margin: 0;
}

nav {
  display: flex;
  background-color: #eee;
  text-align: center;
  font-weight: 500;
}

nav ul {
  list-style-type: none;
  max-width: 100%;
  width: 1000px;
}

nav ul li a {
  color: #c13c1e;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  background-color: #D9BC2B;
  color: #333333;
}

.navigation {
  display: block;
  list-style: none;
  padding: 0;
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  text-decoration: none;
}

.responsive li {
  display: block;
}
.ham {
  display: block;
}

a {
  color: #c13c1e;
}

.preston a {
  background-color: #D9BC2B;
  color: #333333;
}

main {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 15px;
}

.wrap {
  position: relative;
  width: 100%;
  text-align: left;
  padding-left: 5px;
  margin-bottom: -2em;
}

.logo {
  max-width: 100%;
  margin-bottom: -25px;
}

.contentbox {
  display: block;
  margin: 10px auto;
  padding: 15px;
  background-color: #eee;
  color: #444;
  margin-left: auto;
  margin-right: auto;
}


footer {
  font-family: "Roboto", sans-serif;
  max-width: 950px;
  margin: 2em auto;
  text-align: center;
  background-color: #eee;
  height: 330px;
  line-height: 1px;
  padding-top: 15px;
  margin-bottom: -1px;
}

.date {
  font-size: small;
  font-weight: 500;
  padding-top: 5px;
}
  
.fairp {
  text-align: justify;
}

.franklin-fair {
  display: none;
}

.franklin-fair2 {
  max-width: 100%;
}


.contact {
  text-align: left;
  margin: 30px;
  line-height: 2px;
}

  .prestonmap {
  max-width: 100%;
  margin-bottom: 10px;
}


.social img{
  max-width: 100%;
  width: 30px;
  padding: 5px;
  margin-bottom: -1.3em;
}


.footer2 {
  background-color: #595959;
  color: white;
  height: 50px;
  text-align: center;
  line-height: .1px;
  margin-top: -15px;
  padding: 2px;
    
}

.footer2preston {
  background-color: #595959;
  color: white;
  height: 50px;
  text-align: center;
  line-height: .1px;
  margin-top: 24px;
  padding: 2px;
}

.address {
  font-size: 12px;
}


.pancakebanner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;

}

.hero-box {
  display: block;

}

.hero-box img {
  max-width: 100%;
  margin-top: 20px;
  
}

  .week6hero {    
  grid-column: 1 / -1;
  grid-row: 1;

  }  

  .action {
    grid-column: 1;
    grid-row: 1;
    background-color: #c13c1e;
    color: white;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    padding-top: 5px;
    text-align: center;
    height: 100px;
    width: 200px;
    font-size: 20px;
    justify-content: center;
  }
  
  .action button {
    line-height: 2em;
    margin-top: -5px;
    margin-left: -15px;
    width: 12em;
    background-color: #d9bc2b;
    font-size: 20px;
    font-weight: bold;
  }

.areas {
  display: grid;  
  grid-template-columns: 1fr;
  text-align: center;  
  width: 100%;

}

.areas section {
  margin: 8px;
  background-color: #eee;
  color: #444;
}

.areas img {
  margin-top: 15px;
}

.areas h2 {
  font-size: 35px;
}

h4 {
    font-size: 13px;
    margin-top: -5px;
    margin-left: 10px;
    margin-right: 10px;

}

.areas div {
    line-height: 30px;
}

.popcorn {
  display: none;
}


.popcorn2 {
  display: none;
}

.popcorn3 {
  display: flex;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: -25px;
}

.openweather {
  font-size: 12px;
  margin-top: 40px;
}  
  
table {
  width: 200px;
  max-width: 100%;
  text-align: center;
  border-collapse: collapse;
}

th {
  background-color: #c13c1e;
  color: #ebebd3ff; 
}
td {
  background-color: white;
}

.reportastorm {
  text-align: center;
  padding: 20px;
}

form {
font-size: 20px;
}

form fieldset {
  border: 3px double black;
  padding: 15px;
}

form legend {
font-weight: bold;
font-size: 20px;
letter-spacing: 1.5px;
padding: 5px;
}

form label.top, form div {
  display: block;
}

form label.top input, form label.top select {
  display: block;
  border: solid 1px #999;
  padding: .75rem;
  width: 80%;
  background-color: #f8f8f8;
}

.indanger {
  line-height: 30px;
}

.req {
color: #c13c1e;
}

form legend h2 {
border: 3px double black;
text-align: center;
padding: 15px;
margin: 100px;
}

.comments {
max-width: 100%;
}

form input.submitBtn {
border: none;
background-color: #c13c1e;
color: white;
border-radius: 5px;
padding: .75rem;
}

form label.top input:required {
border-left: #c13c1e solid 6px;
}

form label.top input:required:valid {

border-left: green solid 6px;
}

.gallery img[data-src] {
  filter: blur(0.2em);
}

.weathergallery figcaption {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: 500px;
  justify-content: center;
}


.weathergallery img {
  filter: blur(0em);
  transition: filter 0.5s;
  max-width: 100%;
}

.weathergallery {
  display: grid;
  justify-content: center;
}

.forecast {
  margin-left: auto;
  margin-right: auto;
}

.fhEvents {
  background-color: white;
  padding: 20px;
  width: 60%;
  line-height: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.prestonEvents {
  background-color: white;
  padding: 20px;
  line-height: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.preston-header {
  text-align: center;
  font-size: 30px;
  color: #c13c1e;
}

.fh-header {
  text-align: center;
  font-size: 30px;
  color: #c13c1e;
}

.fhEvents {
  max-width: 80%;
}

.ss-header {
  text-align: center;
  font-size: 30px;
  color: #c13c1e;
}

.ssEvents {
  background-color: white;
  padding: 20px;
  line-height: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}




