body {
    font-family: "Fjalla One", sans-serif;
    font-weight: normal;
    text-align: center;
}

.gallery img[data-src] {
    filter: blur(0.2em);
}

figcaption {
    font-size: 30px;
    font-family: "Fjalla One", sans-serif;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    grid-auto-rows: 500px;
    justify-content center;
}

.gallery img {
    filter: blur(0em);
    transition: filter 0.5s;
}

.gallery figure:hover {
    box-shadow: 0 0 40px #BBB
}

