/*******Medium View*************/

@media only screen and (min-width: 601px)  {
        header {
          justify-items: center;
          text-align: center;
        }
        .forecastimgs img {
          max-width: 18%;
          margin-left: 8px;
        }
        .pancakebanner {
          width: 600px;
        
        }
  
        .week6hero {
          grid-column: 1 / -1;
        grid-row: 1;
        }

      }