/************* Small View **********/

h1 {
  font-family: "Montserrat", sans-serif;
  padding-left: 1em;
  padding-top: 0.5em;
}

h2 {
  color: #2d7592;
}

a {
  color: #f3783c;
}

header {
  width: 100%;
  background-color: #383838;
  font-size: 10px;
}

.logo {
  float: left;
  width: 95%;
  margin: auto;
  margin-top: 15px;
}

nav {
  display: inline-block;
  text-align: center;
  align-items: center;
  margin: auto;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  max-width: 30%;
  justify-content: space-evenly;
  padding: -5px;
}

nav ul li a {
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 20px;
}

.nav a {
  display: block;
  text-align: center;
  border-bottom: 3px solid transparent;
}

nav a:hover {
  border-bottom: 3px solid #f3783c;
}

.navigation {
  display: block;
  list-style: none;
  padding: 0;
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  text-decoration: none;
}

.responsive li {
  display: block;
}
.ham {
  display: block;
}

a {
  color: #f3783c;
}

.activelink a {
  border-bottom: 3px solid #f3783c;
}

.activelink a:hover {
  border-bottom: 3px solid #c5d081;
}

.action {
  grid-column: 1;
  grid-row: 1;
  background-color: rgba(240, 240, 240, 0.8);
  color: #383838;
  text-align: center;
  font-size: 0.9em;
  height: 150px;
}

.action button {
  line-height: 2em;
  width: 8em;
  background-color: #2d7592;
  color: white;
  font-weight: normal;
}

main {
  padding-bottom: 10px;
}
body {
  padding:  10px;
}

h4 {
  padding: 10px;
  line-height: 18px;
}

.hero-box {
  display: block;
  max-width: 100%;
}

.hero-box img {
  width: 100%;
}

.heroimg {
  grid-column: 1 / -1;
  grid-row: 1;
  width: 100%;
}
.businesscontainer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

section {
  background-color: #383838;
  color: white;
  padding: 20px;
  margin: 5px;
  text-align: center;
}

section img {
  border: 1px solid #ddd;
  padding: 2px;
}
.commerceheadline {
  font-size: 28px;
}

.missionstatement {
  line-height: 30px;
  padding: 30px;
}

.missionbox {
  margin: 1em auto;
  background-color: #eee;
  max-width: 100%;
}

.eventsheadline {
  text-align: center;
  border: 4px double white;
  font-size: 40px;
  margin: 10px;
  padding: 15px;
  line-height: 50px;
}
.eventsbox {
  background-color: #f3783c;
  color: white;
  font-size: 14px;
  padding: 40px;
}

.weatherbox {
  text-align: center;
}

.threedayforecastheading {
  text-align: center;
}

table {
  width: 300px;
  max-width: 100%;
  text-align: center;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

th {
  background-color: #2d7592;
  color: #ebebd3ff;
}
td {
  background-color: white;
}

footer {
  background: #383838;
  color: white;
  text-align: center;
  line-height: 18px;
  padding: 10px;
  padding-top: 20px;
}

.joinheadline {
  text-align: center;
}

form legend {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1.5px;
  padding: 5px;
}

form label.top,
form div {
  display: block;
}

form label.formtop input,
form label.formtop select {
  display: block;
  border: solid 1px #999;
  padding: 0.75rem;
  width: 80%;
  background-color: #f8f8f8;
}

.req {
  color: #c13c1e;
}

form legend h2 {
  border: 3px double black;
  text-align: center;
  padding: 15px;
  margin: 100px;
}

form input.submitBtn {
  border: none;
  background-color: #f3783c;
  color: white;
  border-radius: 5px;
  padding: 0.75rem;
}

form input.submitBtn:hover {
  background-color: #2d7592;
}

form label.formtop input:required {
  border-left: #c13c1e solid 6px;
}

form label.formtop input:required:valid {
  border-left: green solid 6px;
}

.thankspage {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  padding: 140px;
}

.membershipchart {
  display: flex;
  float: center;
  max-width: 60%;
  margin: 0 auto;
}

