/* Media Query for Large views */
@media only screen and (min-width: 950px) {
    nav {
      display: flex;
      flex: 1 1 100%;
      max-width: 100%;
      padding: 0;
    }
  
    nav ul {
      display: flex;
      justify-content: space-evenly;
      width: 1000px;
      margin: 0 auto;
    }
  
    nav a {
      text-decoration: none;
    }
  
    body {
      margin: 0;
      padding: 0;
    }
    
    .navigation {
      display: flex;
    }
    
    .navigation li {
      display: block;
      width: 130px;
    }
  
    .navigation li:first-child {
      display: none;
    }
  
    .hero-box {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .hero-box img {
    max-width: 100%;
  }
  
  
  .summary {
    grid-column: 1;
    grid-row: 1;
    background-color: rgba(240, 240, 240, 0.8);
    margin: 2em;
    text-align: center;
    font-size: 0.9em;
    padding-bottom: 200px;
    height: 50px;
    max-width: 270px;
  }
    
    .fiveday {
      display: flex;
      margin-bottom: -5px;
    }
    
    .fiveday-2 {
      display: none;
    }
    
  .forecastimgs img {
    display: inline-block;
    max-width: 100%;
    margin-right: 30px;
    padding-left: 20px;
    
  }
   
    .franklin-fair {
    display: flex;
    max-width: 100%;
    float: right;
    margin-top: -30px;
    padding-left: 10px;
    padding-right: 20px;
    }
       
    .franklin-fair2 {
    display: none;
    }
   
    footer {
      display: flex;
      height: 230px;
      max-width: 100%;
    }
    
    .prestonmap {
      display: flex;
      float: left;
      max-width: 50%;
      padding: 40px;
      margin-top: -25px;
    }
    
    .contact {
    display: inline-block;
    padding: 10px;
      
    }
  
    .lastsection {
      max-width: 950px;
      margin: 0 auto;
    }

    .contact {
      margin-top: -2px;
    }

    .openweather {
     padding-top: 20px;
    }
  
    .address {
    font-size: 16px;
  }
   
  .forecast img{
    margin: 0;
  }
  
  table {
    width: 910px;
    max-width: 100%;
    text-align: center;
    border-collapse: collapse;
  }

  th {
    background-color: #c13c1e;
    color: #ebebd3ff; 
  }
  td {
    background-color: white;
  }

}