/*******Medium View*************/

@media only screen and (min-width: 601px) and (max-width: 949px)  {
    header {
      justify-items: center;
      text-align: center;
    }

    .week6hero {
      grid-column: 1 / -1;
    grid-row: 1;
    }



    .popcorn {
      display: flex;
    }

    .popcorn2 {
      display: none;
    }

    .popcorn3 {
      display: none;
    }

}




